*,
* ::before,
* ::after {
  box-sizing: border-box;
}

div {
  height: 70px;
  width: 70px;
  background-color: blue;
  margin: 1em;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clearfix {
  display: block;
  clear: both;
  height: 10px;
  width: 100%;
}

.small {
  float: left;
}

.large {
  min-width: 310px;
  min-height: 100px;
  background-color: brown;
  float: right;
}

.first {
  min-width: 270px;
  min-height: 130px;
  background-color: brown;
  float: left;
}

.second {
  min-width: 270px;
  min-height: 130px;
  background-color: brown;
  float: right;
}

.box {
  min-width: 500px;
  min-height: 330px;
  background-color: brown;
  margin: auto;
}

.box-left {
  min-width: 200px;
  min-height: 200px;
  float: left;
}

.box-center {
  float: right;
}

.box-right {
  float: right;
  clear: left;
}

.container {
  min-width: 380px;
  min-height: 330px;
  background-color: brown;
  margin-left: auto;
}
